.card {
  position: relative;
  display: inline-block;
  width: 320px;
  height: 320px;
  overflow: hidden;
}

.image {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}

.link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
}

.info {
  position: absolute;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
  bottom: 0;
  color: #fff;
  padding: 16px;
  overflow: hidden;
  will-change: height;
  height: 80px;
  transition: height 500ms ease-in-out;
}

.card:hover .info {
  height: 100%;
}

.title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.interests > * {
  margin-right: 16px;
  z-index: 10;
}

.description {
  margin-top: 20px;
}
